@charset "UTF-8";
@font-face {
  font-family: Happiness-Sans-Regular;
  src: url("../../../webfont/Happiness-Sans-Regular.woff2");
}
@font-face {
  font-family: Happiness-Sans-Bold;
  src: url("../../../webfont/Happiness-Sans-Bold.woff2");
}
@font-face {
  font-family: Happiness-Sans-Title;
  src: url("../../../webfont/Happiness-Sans-Title.woff2");
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Happiness-Sans-Regular;
  font-size: 18px;
  line-height: 1.5;
  background-color: #c3ffb9;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 500px;
  right: 0;
  z-index: 999;
}
.sidebar__content {
  margin: 24px;
}
.sidebar__content-inside {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 8px;
  font-family: Happiness-Sans-Bold;
}
.sidebar__content-inside > img {
  width: 30px;
  height: 30px;
}

.clover {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-block: 24px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fefff3;
  border-block: 1px solid #000;
}
.clover__banner {
  display: inline-block;
  white-space: nowrap;
  animation: moveClover 20s linear infinite;
}
.clover__banner-img {
  width: 30px;
  height: 30px;
  margin-block: 7px 3px;
  margin-inline: 7px;
}

@keyframes moveClover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.nav {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  padding: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
  border-bottom: 1px solid #282828;
}
@media (width <= 768px) {
  .nav {
    gap: 80px;
  }
}
.nav a {
  font-family: Happiness-Sans-Title;
  font-size: 36px;
  color: #282828;
  text-decoration: none;
}
@media (width <= 480px) {
  .nav a {
    font-size: 24px;
  }
}
.nav a:hover {
  color: #1fb705;
}
@media (width <= 768px) {
  .nav__right-text {
    display: none;
  }
}
.nav__right-icon {
  display: none;
}
@media (width <= 768px) {
  .nav__right-icon {
    display: inline;
  }
}
.nav__left {
  display: flex;
  gap: 80px;
}
@media (width <= 768px) {
  .nav__left {
    gap: 48px;
  }
}
@media (width <= 768px) {
  .nav__left-text {
    display: none;
  }
}
.nav__left-icon {
  display: none;
}
@media (width <= 768px) {
  .nav__left-icon {
    display: inline;
  }
}

.header {
  margin-bottom: 60px;
  font-size: 18px;
  background-color: #fefff3;
  border-bottom: 1px solid #282828;
}
@media (width <= 480px) {
  .header {
    font-size: 16px;
  }
}
.header__content {
  padding: 48px;
  text-align: center;
}
@media (width <= 480px) {
  .header__content {
    padding: 24px;
  }
}
.header__content-title {
  margin-bottom: 24px;
  font-family: Happiness-Sans-Title;
  overflow-wrap: break-word;
}
.header__content-text {
  font-family: Happiness-Sans-regular;
}
.header__content-text:first-child {
  margin-bottom: 8px;
}

.main {
  margin-block: 40px;
  margin-inline: 24px;
}
.main--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열을 동일한 너비로 설정 */
  /* 카드들 사이의 간격 */
  gap: 24px 24px;
}
@media (width <= 768px) {
  .main--cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 480px) {
  .main--cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  border: 1px solid #282828;
}
.card img {
  display: block;
  width: 100%; /* 이미지를 카드의 너비에 맞추어 조정 */
  aspect-ratio: 800/800;
  -o-object-fit: contain;
     object-fit: contain;
}
.card--text {
  position: absolute;
  z-index: 999;
  padding: 24px;
  color: #fefff3;
  text-decoration: none;
  opacity: 0;
}
.card--text:hover {
  opacity: 1;
}
.card--text-title {
  top: 10;
  left: 10;
  font-family: Happiness-Sans-Bold;
  font-size: 24px;
  text-align: center;
}
@media (width <= 768px) {
  .card--text-title {
    font-size: 20px;
  }
}
@media (width <= 480px) {
  .card--text-title {
    font-size: 16px;
  }
}
.card--text-subtitle {
  top: 0;
  left: 10;
  font-family: Happiness-Sans-regular;
  font-size: 18px;
  text-align: center;
}
@media (width <= 768px) {
  .card--text-subtitle {
    font-size: 14px;
  }
}
@media (width <= 480px) {
  .card--text-subtitle {
    font-size: 12px;
  }
}
.card:hover {
  background-color: #1fb705;
}
.card:hover > img {
  opacity: 0;
}
.card:hover > div {
  opacity: 1;
}
.card--newicon {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 999;
}
.card--newicon > img {
  width: 40px;
}
.card--newicon > p {
  position: absolute;
  top: 6px;
  left: 13px;
  z-index: 999;
  font-family: Happiness-Sans-Bold;
  font-size: 18px;
  color: #fefff3;
}

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer > p {
  text-align: center;
}