$lightgreen: #c3ffb9;
$deepgreen: #3fb02c;
$fontcolor-gray: #2d2d2d;

@font-face {
  font-family: Happiness-Sans-Regular;
  src: url('../../../webfont/Happiness-Sans-Regular.woff2');
}

@font-face {
  font-family: Happiness-Sans-Bold;
  src: url('../../../webfont/Happiness-Sans-Bold.woff2');
}

@font-face {
  font-family: Happiness-Sans-Title;
  src: url('../../../webfont/Happiness-Sans-Title.woff2');
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Happiness-Sans-Regular;
  font-size: 18px;
  line-height: 1.5;
  background-color: $lightgreen;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// .section {
//   margin-bottom: 64px;

//   &:nth-child(1) {
//     margin-bottom: 0;
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }

//   // &:nth-child(2) {
//   //   margin-top: 110px;
//   //   @media (width <= 480px) {
//   //     margin-top: 90px;
//   //   }
//   // }
// }

.sidebar {
  position: fixed;
  top: 500px;
  right: 0;
  z-index: 999;

  &__content {
    margin: 24px;

    &-inside {
      display: flex;
      gap: 12px;
      align-items: center;
      margin: 8px;
      font-family: Happiness-Sans-Bold;

      & > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.clover {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-block: 24px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fefff3;
  border-block: 1px solid #000;

  &__banner {
    display: inline-block;
    white-space: nowrap;
    animation: moveClover 20s linear infinite;

    &-img {
      width: 30px;
      height: 30px;
      margin-block: 7px 3px;
      margin-inline: 7px;
    }
  }
}

@keyframes moveClover {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

// .clover {
//   position: absolute;
//   top: 0;
//   z-index: 2;
//   width: 100px; /* 이미지 크기 */
//   height: auto;
//   filter: invert(0%); /* 기본적으로 색상 변환 없음 */
//   animation: fall 5s forwards, colorChange 5s forwards;

//   @keyframes fall {
//     from {
//       top: -100px;
//     }

//     to {
//       top: 100%;
//     }
//   }
// }

// .nav {
//   position: fixed;
//   top: 0;
//   z-index: 1000;
//   display: flex;
//   gap: 160px;
//   justify-content: space-between;
//   width: 100%;
//   padding: 24px;
//   overflow-x: scroll;
//   scrollbar-width: none;

//   @media (width <= 1024px) {
//     gap: 80px;
//   }

//   & a {
//     font-family: Happiness-Sans-Title;
//     font-size: 36px;
//     color: black;
//     text-decoration: none;

//     //모바일 사이즈 조정
//     @media (width <= 480px) {
//       font-size: 24px;
//     }

//     &:hover {
//       // text-decoration: underline #3fb02c dotted 5px;
//       color: $deepgreen;
//     }
//   }

//   &__left {
//     display: flex;
//     gap: 80px;

//     @media (width <= 1024px) {
//       gap: 32px;
//     }

//     &-text {
//       @media (width <= 1024px) {
//         display: none;
//       }
//     }

//     &-icon {
//       display: none;
//       @media (width <= 1024px) {
//         display: inline;
//       }
//     }
//   }
// }

.nav {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  padding: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
  border-bottom: 1px solid #282828;

  // background-color: aquamarine; //추후 삭제

  @media (width <= 768px) {
    gap: 80px;
  }

  & a {
    font-family: Happiness-Sans-Title;
    font-size: 36px;
    color: #282828;
    text-decoration: none;

    //모바일 사이즈 조정
    @media (width <= 480px) {
      font-size: 24px;
    }

    &:hover {
      // text-decoration: underline #3fb02c dotted 5px;
      color: #1fb705;
    }
  }

  &__right {
    &-text {
      @media (width <= 768px) {
        display: none;
      }
    }

    &-icon {
      display: none;
      @media (width <= 768px) {
        display: inline;
      }
    }
  }

  &__left {
    display: flex;
    gap: 80px;

    @media (width <= 768px) {
      gap: 48px;
    }

    &-text {
      @media (width <= 768px) {
        display: none;
      }
    }

    &-icon {
      display: none;
      @media (width <= 768px) {
        display: inline;
      }
    }
  }
}

.header {
  margin-bottom: 60px;
  font-size: 18px;
  background-color: #fefff3;

  // border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  @media (width <= 480px) {
    font-size: 16px;
  }

  &__content {
    padding: 48px;
    text-align: center;
    @media (width <= 480px) {
      padding: 24px;
    }

    &-title {
      margin-bottom: 24px;
      font-family: Happiness-Sans-Title;
      overflow-wrap: break-word;
    }

    &-text {
      font-family: Happiness-Sans-regular;

      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
}

.main {
  margin-block: 40px;
  margin-inline: 24px;

  // background-color: lightblue; //추후삭제

  &--cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열을 동일한 너비로 설정 */

    @media (width <= 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width <= 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    /* 카드들 사이의 간격 */
    gap: 24px 24px;

    // background-color: lightcoral; //추후 삭제
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  border: 1px solid #282828;

  & img {
    display: block;
    width: 100%; /* 이미지를 카드의 너비에 맞추어 조정 */
    aspect-ratio: 800/800;

    // margin-bottom: 12px;
    object-fit: contain;
  }

  &--text {
    position: absolute;
    z-index: 999;
    padding: 24px;
    color: #fefff3;
    text-decoration: none;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    &-title {
      top: 10;
      left: 10;
      font-family: Happiness-Sans-Bold;
      font-size: 24px;
      text-align: center;

      @media (width <= 768px) {
        font-size: 20px;
      }
      @media (width <= 480px) {
        font-size: 16px;
      }
    }

    &-subtitle {
      top: 0;
      left: 10;
      font-family: Happiness-Sans-regular;
      font-size: 18px;
      text-align: center;

      @media (width <= 768px) {
        font-size: 14px;
      }
      @media (width <= 480px) {
        font-size: 12px;
      }
    }
  }

  &:hover {
    > img {
      opacity: 0;
    }

    > div {
      opacity: 1;
    }

    background-color: #1fb705;
  }

  &--newicon {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 999;

    & > img {
      width: 40px;
    }

    & > p {
      position: absolute;
      top: 6px;
      left: 13px;
      z-index: 999;
      font-family: Happiness-Sans-Bold;
      font-size: 18px;
      color: #fefff3;
    }
  }

  // &--text {
  //   overflow: hidden;
  //   text-align: center;

  //   &-title {
  //     font-family: Happiness-Sans-Bold;
  //     font-size: 18px;
  //   }

  //   &-subtitle {
  //     font-size: 14px;
  //     color: oklch(30% 0 0deg);
  //   }
  // }
}

.footer {
  margin-top: 60px;
  margin-bottom: 40px;

  > p {
    text-align: center;
  }
}
