@font-face {
  font-family: Happiness-Sans-Regular;
  src: url('../../../webfont/Happiness-Sans-Regular.woff2');
}

@font-face {
  font-family: Happiness-Sans-Bold;
  src: url('../../../webfont/Happiness-Sans-Bold.woff2');
}

@font-face {
  font-family: Happiness-Sans-Title;
  src: url('../../../webfont/Happiness-Sans-Title.woff2');
}

@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap';

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Happiness-Sans-Regular;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ccfdc4;

  // background-color: aquamarine;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.section {
  // margin-block: 28px;

  &:first-child {
    margin-top: 0;
  }
}

.nav {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  padding: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
  border-bottom: 1px solid #282828;

  // background-color: aquamarine; //추후 삭제

  @media (width <= 768px) {
    gap: 80px;
  }

  & a {
    font-family: Happiness-Sans-Title;
    font-size: 36px;
    color: #282828;
    text-decoration: none;

    //모바일 사이즈 조정
    @media (width <= 480px) {
      font-size: 24px;
    }

    &:hover {
      // text-decoration: underline #3fb02c dotted 5px;
      color: #1fb705;
    }
  }

  &__right {
    &-text {
      @media (width <= 768px) {
        display: none;
      }
    }

    &-icon {
      display: none;
      @media (width <= 768px) {
        display: inline;
      }
    }
  }

  &__left {
    display: flex;
    gap: 80px;

    @media (width <= 768px) {
      gap: 48px;
    }

    &-text {
      @media (width <= 768px) {
        display: none;
      }
    }

    &-icon {
      display: none;
      @media (width <= 768px) {
        display: inline;
      }
    }
  }
}

// .header {
//   &__content {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//     align-items: center;
//     justify-content: center;
//     padding-inline: 24px;
//     margin-block: 0;

//     // font-family: Happiness-Sans-Bold;
//     list-style: none;

//     &-all {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       height: 35px;
//       padding: 12px 20px;
//       font-size: 16px;
//       line-height: 1.5;
//       text-align: center;
//       border-radius: 999px;
//     }

//     &-black {
//       color: black;
//       background-color: #fefff3; // 검정색 배경
//     }

//     &-highlight {
//       color: #fefff3;
//       background-color: #3fb02c;
//     }
//   }
// }

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;

  // margin-inline: 32px;
  @media (width <= 780px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    .main__content-left {
      order: 2;
    }

    .main__content-right {
      order: 1;
    }
  }

  @media (width <= 1080px) {
    font-size: 16px;
  }

  &__element {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
    align-items: center;
    padding-inline-start: 0;

    // justify-content: center;
    // padding-inline: 12px;
    margin: 8px 0 0;

    // font-family: 'Noto Sans KR', sans-serif;
    // font-weight: 600;
    // font-family: Happiness-Sans-Bold;
    list-style: none;

    &-all {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 35px;
      padding: 4px 12px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      border-radius: 999px;
    }

    &-typea {
      color: #282828;
      background-color: #fefff3;
      border: 1px solid #282828;
    }

    &-typeb {
      color: #fefff3;
      background-color: #282828;
    }
  }

  &__content {
    &-before {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
    }

    &-left {
      position: relative;
      height: 100vh;
      overflow-y: scroll;
      background-color: #fefff3;
      border-right: 1px solid #282828;
      @media (width <= 768px) {
        border-top: 1px solid #282828;
        border-right: none;
      }

      > div {
        margin-block: 60px;

        &:first-child {
          margin-top: 120px;
        }

        &:last-child {
          margin-bottom: 120px;
        }
      }

      @media (width <= 780px) {
        height: auto;
        overflow-y: hidden;
      }
    }

    &-poster {
      display: block;
      width: 40%;
      margin: auto;
    }

    &-leftitem {
      > img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      align-items: center;
      margin-inline: 120px;
      @media (width <= 768px) {
        margin-inline: 80px;
      }
    }

    @media (width <= 480px) {
      padding-inline: 24px;
    }

    &-grid3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
      margin-inline: 80px;
      @media (width <= 768px) {
        margin-inline: 40px;
      }
      @media (width <= 480px) {
        margin-inline: 12px;
      }
    }

    &-right {
      // height: 1080px;
      padding-top: 36px;
      padding-right: 24px;
      @media (width <= 780px) {
        padding-inline: 24px;
      }

      // overflow-y: auto;

      > * {
        margin-bottom: 36px;
      }

      > ul {
        padding: 0;
        list-style: none;

        > * {
          margin-bottom: 4px;
          font-size: 16px;
        }
      }
    }
  }
}

.highlight {
  color: #fefff3;
  background-color: black;
}
