@font-face {
  font-family: Happiness-Sans-Regular;
  src: url("../../../webfont/Happiness-Sans-Regular.woff2");
}
@font-face {
  font-family: Happiness-Sans-Bold;
  src: url("../../../webfont/Happiness-Sans-Bold.woff2");
}
@font-face {
  font-family: Happiness-Sans-Title;
  src: url("../../../webfont/Happiness-Sans-Title.woff2");
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Happiness-Sans-Regular;
  font-size: 18px;
  line-height: 1.5;
  background-color: oklch(9400% 0.1 141deg);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.section {
  margin-top: 48px;
}
.section:first-child {
  margin-top: 0;
}

.nav {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  padding: 24px;
  overflow-x: scroll;
  scrollbar-width: none;
}
@media (width <= 768px) {
  .nav {
    gap: 80px;
  }
}
.nav a {
  font-family: Happiness-Sans-Title;
  font-size: 36px;
  color: black;
  text-decoration: none;
}
@media (width <= 480px) {
  .nav a {
    font-size: 24px;
  }
}
.nav a:hover {
  color: #3fb02c;
}
@media (width <= 768px) {
  .nav__right-text {
    display: none;
  }
}
.nav__right-icon {
  display: none;
}
@media (width <= 768px) {
  .nav__right-icon {
    display: inline;
  }
}
.nav__left {
  display: flex;
  gap: 80px;
}
@media (width <= 768px) {
  .nav__left {
    gap: 48px;
  }
}
@media (width <= 768px) {
  .nav__left-text {
    display: none;
  }
}
.nav__left-icon {
  display: none;
}
@media (width <= 768px) {
  .nav__left-icon {
    display: inline;
  }
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  margin-block: 0;
  list-style: none;
}
.header__content-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  border-radius: 999px;
}
.header__content-black {
  color: black;
  background-color: #fefff3;
}
.header__content-highlight {
  color: #fefff3;
  background-color: #3fb02c;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-inline: 32px;
}
.main__content-left {
  background-color: #fefff3;
}
.main__content-left > div {
  margin-bottom: 24px;
}
.main__content-leftitem > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.main__content-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main__content-grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main__content-right {
  padding-inline: 24px;
}
.main__content-right > * {
  margin-bottom: 40px;
}
.main__content-right > ul {
  padding: 0;
  list-style: none;
}
.main__content-right > ul > * {
  margin-bottom: 4px;
}

.highlight {
  color: #fefff3;
  background-color: black;
}