@charset "UTF-8";
@font-face {
  font-family: Happiness-Sans-Regular;
  src: url("../../../webfont/Happiness-Sans-Regular.woff2");
}
@font-face {
  font-family: Happiness-Sans-Bold;
  src: url("../../../webfont/Happiness-Sans-Bold.woff2");
}
@font-face {
  font-family: Happiness-Sans-Title;
  src: url("../../../webfont/Happiness-Sans-Title.woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Happiness-Sans-Regular;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.nav {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 12px;
}
.nav a {
  font-family: Happiness-Sans-Title;
  font-size: 36px;
  font-weight: 900;
  color: black;
  text-decoration: none;
}
.nav a:hover {
  -webkit-text-decoration: underline red wavy 4px;
          text-decoration: underline red wavy 4px;
}

.header {
  display: flex;
  justify-content: center;
}
.header__content {
  max-width: 900px;
  text-align: center;
}
.header__content h1 {
  font-family: Happiness-Sans-Bold;
}

.main {
  width: 100%;
  padding: 24px;
  font-family: Happiness-Sans-Regular;
}
.main ol {
  padding: 0;
  margin: 0;
  list-style: none; /* 기본 리스트 스타일도 제거 */
}
.main li {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid black; /* 모든 리스트 아이템에 아래쪽 선 추가 */
}
.mainli:last-child {
  border-bottom: none; /* 마지막 리스트 아이템의 아래쪽 선 제거 */
}
.main--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px;
}
.main--content-number {
  padding-block: 4px;
  padding-inline: 12px;
  font-size: 20px;
  color: white;
  background-color: red;
  border-radius: 999px;
}
.main--content-title {
  font-size: 24px;
}
.main--content-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 32px;
  transition: transform 0.3s ease; /* 회전 애니메이션 추가 */
}
.main--content-button.rotate {
  transform: rotate(45deg); /* 클릭시 90도 회전 */
}